@model IEnumerable<RoyalAcademy.Models.Student>

<h2>Students Report</h2>

<table class="table">
    <tr>
        <th>Student Code</th>
        <th>Name</th>
        <th>Email</th>
    </tr>

    @foreach (var s in Model)
    {
        <tr>
            <td>@s.StudentCode</td>
            <td>@s.FullName</td>
            <td>@s.Email</td>
        </tr>
    }
</table>
