@{
    ViewData["Title"] = "Student Not Linked";
}

<div class="alert alert-warning mt-4">
    <h4>Account Not Linked</h4>
    <p>
        Your login account is not linked to a student record.
        Please contact the administrator.
    </p>
</div>
